<!DOCTYPE html>
<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-WTtvlZJeRyCiKUtbQ88X1x9uHmKi0eHCbQ8irbzqSLkE0DpAZuixT5yFvgX0CjIu" crossorigin="anonymous">
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
  </head>
<body>
  {% include header.html %}
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        {{ content }}
        {% if page.forms[0] %}{% include form.html form="1" %}{% endif %}
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">{% include sidebar.html %}</div>
    </div>
    {% include footer.html %}
  <div>
  <script src="https://stackpath.bootstrapcdn.com/bootlint/0.16.6/bootlint.min.js" integrity="sha384-ZwqoV50fe3lmAp0JfEykqDFq9dAC8vQP1lEuvdNIyVVWMcdE7oRYs7YcjnhS2Vnd" crossorigin="anonymous"></script>
</body>
</html>
